@model Hotel.Models.ReservationDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Reservation Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<h4>Reserved Rooms</h4>
<table id="roomTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rooms[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms[0].RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms[0].RoomSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms[0].EntranceAvailableDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rooms) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntranceAvailableDate)
            </td>
            <td>
                <a asp-action="Details"asp-controller="Room" asp-route-id="@item.RoomId"><i class="fa fa-info-circle" title="Details" style="color:darkslategrey;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

