@model IEnumerable<Hotel.Models.ReservationDetailViewModel>

@{
    ViewData["Title"] = "Reservation List";
}

<h4>Reservation List</h4>

<p>
    <a asp-action="Create">Make New Reservation</a>
</p>
<table id="reservationsTable" class="table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guest.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservationId"><i class="fa fa-edit" title="Edit" style="color:deepskyblue;"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.ReservationId"><i class="fa fa-info-circle" title="Details" style="color:darkslategrey;"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservationId"><i class="fa fa-window-close" title="Cancel" style="color:red;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
    $(document).ready(() => {
        if (@ViewBag.Succes == 1) {
            $("#modalS").modal('show');
        }
    });
    </script>

}
@Html.Partial("_Confirmation", new { bodyMessage = $"Reservation with number {@Model.Last().ReservationId} completed succesfully!{@ViewBag.Message}"})
