@model IEnumerable<Hotel.Models.RoomDetailViewModel>

@{
    ViewData["Title"] = "Room List";
}

<h4>Room List</h4>

<p>
    <a asp-action="Create">Add New Room</a>
</p>
<table id="roomTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntranceAvailableDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntranceAvailableDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoomId"><i class="fa fa-edit" title="Edit" style="color:deepskyblue;"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.RoomId"><i class="fa fa-info-circle" title="Details" style="color:darkslategrey;"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.RoomId"><i class="fa fa-trash" title="Delete" style="color:red;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
    $(document).ready(() => {
        if (@ViewBag.Succes == 1) {
            $("#modalS").modal('show');
        }
    });
    </script>

}
@Html.Partial("_Confirmation", new { bodyMessage = $"{@ViewBag.Message}"})
