@model IEnumerable<Hotel.Models.RoomDetailViewModel>

@{
    ViewData["Title"] = "Confirmed Blocking Room";

}
<h4>Confirmed Blocking Room</h4>
<h5 style="color:red">@ViewBag.Message</h5>
<table id="roomTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntranceAvailableDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntranceAvailableDate)
                </td>
                <td>
                    <a asp-action="BlockAlternate" asp-route-id="@item.RoomId" asp-route-StartDate="@ViewBag.StartDate"
                       asp-route-EndDate="@ViewBag.EndDate" ><i class="fa fa-window-close" title="Block" style="color:red;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
