@model IEnumerable<Hotel.Models.MaintenanceViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4>Maintenance List</h4>
<p>
    <a asp-action="Create">Add Maintenance/Block Room</a>
</p>
<table id="maintenanceListTable" class="table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.RoomNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaintenanceId"><i class="fa fa-edit" title="Edit" style="color:deepskyblue;"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.MaintenanceId"><i class="fa fa-info-circle" title="Details" style="color:darkslategrey;"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.MaintenanceId"><i class="fa fa-window-close" title="Cancel" style="color:red;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
    $(document).ready(() => {
        if (@ViewBag.Succes === 1) {
            $("#modalS").modal('show');
        }
    });
    </script>

}
@Html.Partial("_Confirmation", new { bodyMessage = $"{@ViewBag.Message}"})
